/* .mat-card {
    text-align: -webkit-center;
} */



.custom-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
}

h1 {
    margin-left: 20px;
    margin-top: 20px;
}

mat-form-field {
    width: 500px;
}
