<div class="url-container" fxLayout="column">
  <h1 class="mat-h1" >{{ editMode ? 'Update URL' : 'New URL' }}</h1>
  <mat-divider></mat-divider>
  <form (ngSubmit)="onSave()" [formGroup]="urlForm">
    <div class="form-container" fxLayout="column">
      <mat-form-field>
          <input 
            type="text"
            matInput
            id="path"
            formControlName="path"
            placeholder="URL Path"
            class="form-control">
            <mat-error *ngIf="urlForm.hasError('required', 'path')">* URL Path is required.</mat-error>
            <mat-error *ngIf="urlForm.hasError('pattern', 'path')">* URL not valid.</mat-error>
      </mat-form-field>
      <br>
      <br>
      <!-- <div class="container" formArrayName="headers">
        <div
          fxLayout="row" 
          class="container"
          *ngFor="let headerCtrl of urlForm.get('headers').controls; let i = index"
          [formGroupName]="i">
          <mat-form-field>
            <input 
              type="text"
              matInput
              formControlName="key"
              placeholder="Header key"
              class="form-control">
          </mat-form-field>
          <mat-form-field>
              <input 
                type="text"
                matInput
                formControlName="value"
                placeholder="Header value"
                class="form-control">
          </mat-form-field>
        </div>
      </div> -->
      <div class="container" fxLayout="row" fxLayoutGap="20px">
          <mat-form-field>
              <mat-select
                placeholder="Select Method"
                id="method"
                formControlName="method">
                <mat-option *ngFor="let method of methods" [value]="method">
                  {{ method }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="urlForm.hasError('required', 'method')">* Method is required.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select
                placeholder="Select Response Code"
                id="responseCode"
                formControlName="responseCode">
                <mat-option *ngFor="let code of responseCodes" [value]="code">
                  {{ code }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="urlForm.hasError('required', 'responseCode')">* Response Code is required.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select
                placeholder="Select Response Type"
                id="contentType"
                formControlName="contentType">
                <mat-option *ngFor="let type of types" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="urlForm.hasError('required', 'contentType')">* Response type is required.</mat-error>
            </mat-form-field>
            <mat-slide-toggle
              [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" fxFlexAlign="center">
              {{ checked ? 'Dynamic Response' : 'Static Response' }}
            </mat-slide-toggle>
      </div>
    </div>
    <br>
    <div *ngIf="editMode; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <json-editor
        (keydown)="onKey($event)"
        [data]= "jsonData"
        [options]="options"
        ></json-editor> 
    </ng-template>
    <ng-template #elseBlock>
      <json-editor
        (keydown)="onKey($event)"
        [options]="options"
      ></json-editor>
    </ng-template>
      <mat-divider></mat-divider>
    <div class="button-row" fxLayout="row" fxLayoutGap="10px">
        <button mat-raised-button color="primary" type="submit" [disabled]="!urlForm.valid">Save</button>
        <button mat-raised-button color="accent" type="button" (click)="onClear()">Clear</button>
        <button mat-raised-button color="warn"  type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
    
</div>