.table-container {
  height: 300px;
  overflow: auto;
}

table {
  width: 100%;
}

mat-dialog-content {
  overflow: auto;
}

h4 {
  margin-top: 1rem;
}

button {
  max-height: fit-content;
}

mat-dialog-container {
  overflow: hidden;
}

.fill-space{
  flex: 1 1 auto;
}
